<div
  class="modal modal-xl fade"
  id="ProjectModal"
  tabindex="-1"
  aria-labelledby="ProjectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ProjectModalLabel">{{ projeto()?.titulo?.[idioma()] }}</h1>
        <button (click)="modalFechado.emit()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img
          class="img-fluid"
          [src]="projeto()?.urlImagem"
          [alt]="projeto()?.titulo?.[idioma()]"
        />
      </div>
    </div>
  </div>
</div>
