<section id="projetos" class="bg-light text-dark">
  <article class="container d-flex flex-column my-5">
    <h2 class="display-5 fw-medium fst-italic text-center text-secondary">
      {{ textos[idioma.atual()].titulo }}
    </h2>

    <p class="mt-5 fs-5 text-center">
      {{ textos[idioma.atual()].introducao }}
    </p>

    <ol>
      @for (projeto of projetos; track projeto.urlRepositorio; let indice = $index) {
        <li class="d-flex align-items-start gap-4 border-bottom border-dark-subtle py-4">
          <span class="fs-1 fw-medium fst-italic" aria-hidden="true">{{
            (indice + 1).toString().padStart(2, '0')
          }}</span>

          <article class="d-flex flex-column gap-3 flex-grow-1 pt-3">
            <h3 class="fs-2 fw-medium fst-italic text-secondary">
              {{ projeto.titulo[idioma.atual()] }}
            </h3>

            <p class="fs-5 mb-0">{{ projeto.descricao[idioma.atual()] }}</p>

            <div class="d-flex flex-wrap align-items-center gap-3 mt-3">
              <div
                class="d-flex flex-wrap gap-2"
                [attr.aria-label]="textos[idioma.atual()].tecnologias"
              >
                @for (tecnologia of projeto.tecnologias; track tecnologia) {
                  <span class="badge rounded-pill border border-light-subtle text-dark">
                    {{ tecnologia }}
                  </span>
                }
              </div>

              <div class="d-flex flex-wrap gap-2 ms-auto">
                @if (projeto.urlImagem) {
                  <button
                    (click)="projetoSelecionado.set(projeto)"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#ProjectModal"
                    class="btn btn-outline-dark rounded-pill d-inline-flex align-items-center gap-2"
                  >
                    <i class="bi bi-image"></i>
                    {{ textos[idioma.atual()].imagem }}
                  </button>
                }

                @if (projeto.urlRepositorio) {
                  <a
                    [href]="projeto.urlRepositorio"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-outline-dark rounded-pill d-inline-flex align-items-center gap-2"
                  >
                    <i class="bi bi-github"></i>
                    {{ textos[idioma.atual()].repositorio }}
                  </a>
                }
              </div>
            </div>
          </article>
        </li>
      }
    </ol>
  </article>
</section>

<app-modal-projeto
  [projeto]="projetoSelecionado()"
  [idioma]="idioma.atual()"
  (modalFechado)="projetoSelecionado.set(undefined)"
></app-modal-projeto>
