<section id="sobre" class="bg-primary mt-3 mt-lg-0">
  <div class="container my-auto">
    <div class="row align-items-center g-3">
      <div class="col-lg-7 order-1 order-lg-0">
        <div>
          <p class="display-5 mb-1">Olá, sou <strong class="fw-bold">Alec Luí</strong>!</p>
          <span class="display-3 fw-bold fst-italic sobre-banner-text"
            >Desenvolvedor FullStack</span
          >
        </div>

        <div class="mt-4">
          <p class="fs-5">
            Crio soluções digitais <strong class="sobre-banner-text">claras, úteis e bem construídas</strong>. 
            Com postura versátil diante de novos desafios, busco entender o problema previamente para escolher 
            a ferramenta adequada para desenvolver experiências que façam sentido para quem utilizá-las.
          </p>
        </div>

        <div class="d-flex flex-wrap align-items-center gap-3 fs-5">
          <span class="d-flex align-items-center">
            <i class="bi bi-geo-alt fs-5 sobre-banner-text"></i>
            Curitiba, PR - Brasil
          </span>

          <span>-</span>

          <span>
            <i class="bi bi-envelope-at fs-5 sobre-banner-text"></i>
            contact.alec.lui&#64;gmail.com
          </span>

          <span>-</span>

          <div class="d-flex justify-content-center gap-2">
            <a target="_blank" href="https://github.com/DrElucidator">
              <i class="bi bi-github fs-5 sobre-banner-text"></i>
            </a>

            <a target="_blank" href="https://linkedin.com/in/aleclui">
              <i class="bi bi-linkedin fs-5 sobre-banner-text"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col mx-auto sobre-banner-img">
        <img class="img-fluid mt-0" src="img/profile-alec-lui.png" alt="Foto de Alec Luí" />
      </div>
    </div>
  </div>
</section>
